
/* HEADER */

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  
}
  .header-color{
    background-color: #ecf0f1  ;
    z-index: 1111;
    border-bottom: 1px solid #dfdddd3f;
  }
  .logo-img{
      margin-right: 10px;
      padding-top: 6px;
    /* padding: 5px 50px;   */
    transform: scale(0.8);
  }
  .search{
    background-color: white;
    width: 50%;
    margin: 10px 10px;
    text-align: center;  
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #2c3e50;
  
  }
  .search-box{
    outline: none;
    border: none;
    width: 85%;
    height: 40px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 22px;
    padding: 0px 5px;
    background-color: transparent;

  }
  .btn-search{
    background-color: transparent;
    border:none;
    width: 8%;
    background-color: #2c3e50;
    color: white;
    padding: 2px 0px;
}
  .btn-icon{
    height: 100px;
    margin-top: 5px;
    
  }


.login-btn{
    margin-left: 3%;
    color: #2c3e50  ;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: 2px solid #2c3e50;
}



  .area{
    background-color: white;
    width: 25%;
    margin: 10px 0px;
    text-align: center;  
    border-radius: 5px;
    margin-right: 1%;
    display: flex;
    align-items: center;
    border: 2px solid #2c3e50;

  
  
  }
  .area-search{
    outline: none;
    border: none;
    width: 85%;
    height: 40px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 18px;
    padding: 0px 5px;
    background-color: transparent;
    
  }
  .btn-area{
    background-color: transparent;
    border:none;
  
  
  }
  .btn-icon{
    outline: none !important;
    height: 100px;
    /* margin-top: 5px; */
  }

  /* .btn-drop{

  } */